/*dept*/
.hide {
  display: none;
}

.show {
  display: block;
}

.level {
  position: relative;
  cursor: pointer;
}

.level .icon {
  background: url('../images/tree.png') no-repeat;
  margin-right: 2px;
}

.level .sub-levels {
  margin: 0;
  padding: 0 0 0 18px;
}

.level-node {
  position: relative;
  padding-left:5px ;
}
.level-node div{
  display: inline-table;
  vertical-align: middle;
}
.level-node .icon-margin{
  margin-left: -7px;
}

.level-node .hollow {
  border: 5px solid #000;
  border-color: transparent;
  position: absolute;
}

.level-node .arrow {
  border: 5px solid #000;
  border-color: transparent;
}

.level-node .check {
  width: 13px;
  height: 13px;
}

.level-node .switch {
  width: 18px;
  height: 18px;
}

.level-node .node-icon {
  width: 18px;
  height: 17px;
}

.hollowCollapse .icon-arrow-in {
  border-color: transparent transparent transparent #000;
  top: 6px;
  left: 0;
}

.hollowCollapse .icon-arrow-out {
  border-color: transparent transparent transparent #fff;
  top: 6px;
  left: -1px;
}
.hollowExpand .icon-arrow-in {
  border-color: #000 transparent transparent transparent;
  top: 8px;
  left: -5px;
}

.hollowExpand .icon-arrow-out {
  border-color:#fff transparent transparent  transparent;
  top:7px;
  left: -5px;
}
.level-node .icon-arrow-open {
  border-color: #000 transparent transparent;
}

.level-node .icon-arrow-close {
  border-color: transparent transparent transparent #000;
}

.level-node .icon-switch-open {
  background-position: -92px -72px;
}

.level-node .icon-switch-close {
  background-position: -74px -72px;
}

.level-node .icon-node-open {
  background-position: -110px -16px;
}

.level-node .icon-node-close {
  background-position: -110px 0;
}

.level-node .icon-unradiocheck {
  background-position: -28px 0;
}

.level-node .icon-radiocheck {
  background-position: -42px 0;
}

.level-node .icon-uncheckbox {
  background-position: 0 0;
}

.level-node .icon-checkbox {
  background-position: -14px 0;
}




