<li class="{{classPrefix}}{{#if foldable}} {{classPrefix}}-foldable{{/if}}{{#if checkable}} {{classPrefix}}-checkable{{/if}}{{#if multiple}} {{classPrefix}}-multiple{{/if}}">
  <i class="toggle"></i>
  <i class="choose"></i>
  <em class="name"></em>
  <ul></ul>
</li>
